@media screen and (min-width: 300px) and (max-width: 600px) {
  body {
    background-color: white;
  }

  article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
  }

  .fecha {
    top: 108%;
    left: 82%;
  }

  section{
    margin-bottom: 80px;
  }

  .mensaje {
    bottom: -26%;
    left: 0%;
    padding: 3px 15px;
  }

  footer p {
    font-size: 18px;
    font-weight: lighter !important;
    line-height: 22px;
  }

  .articulo{
    margin-top: 60px;
    height: 90px;
  }

  .all_entries{
    display: none;
}
}
